.test{
    background: linear-gradient(
        180.26deg,
        rgba(255, 255, 255, 0.08) .01%,
        rgba(8, 5, 2, 0.71) 990.89%
      );   
    height: 80vh;    
    margin: 0;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "header header" "main sidebar";
    grid-gap: 50px;

}

header {    
    font-size: 3em;
    grid-area: header;
    text-align: center;
}

main {
    font-family: "Oxanium";
    grid-area: main;
}

aside{
    grid: sidebar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;  
}

.box {    
    background: linear-gradient(
        180.26deg,
        rgba(0, 0, 0, 0.50) 30.01%,
        rgba(255, 255, 255, 0.71) 30.89%
      );
    max-width: 70px;
    max-height: 120px;
    padding: 5px;
    box-shadow: 0px 0px 8px 5px rgba(243, 243, 243, 0.1);

}

image{
    filter: drop-shadow(12, 4, 8, #575757);
    
}

.box p {
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
    font-size: 0.8em;
}

