.test{
    background: linear-gradient(
        180.26deg,
        rgba(255, 255, 255, 0.08) .01%,
        rgba(26, 25, 24, 0.71) 20.89%
      );
    height: 80vh;    
    margin: 0;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 160px auto;
    grid-template-areas: "header header" "main sidebar";
}

header {    
    font-size: 3em;
    grid-area: header;
    text-align: center;
}

main {
    grid-area: main;
}

aside{
    grid: sidebar;
    text-align: center;
}

