.test{
    background-color: black;
    margin: 0;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 160px auto;
    grid-template-areas: "header header" "main sidebar";
}

header {
    grid-area: header;
    text-align: center;
}

main {
    min-height: max-content;
    grid-area: main;
}

aside{
    grid: sidebar;
}