.test{
    background: linear-gradient(
        180.26deg,
        rgba(255, 255, 255, 0.08) .01%,
        rgba(8, 5, 2, 0.71) 990.89%
      );   
    height: 80vh;    
    margin: 0 auto;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "header header" "main sidebar";
    grid-gap: 50px;

}

header {    
    font-size: 3em;
    grid-area: header;
    text-align: center;
}

main {
    font-family: "Oxanium";
    grid-area: main;
}

aside{
    grid: sidebar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;  
}

.box {
    max-width: 70px;
    max-height: 100px;
    padding: 5px;
    background: linear-gradient(
        180.26deg,
        rgba(0, 0, 0, 0.50) 30.01%,
        rgba(255, 255, 255, 0.71) 30.89%
      );
    box-shadow: 0px 0px 8px 5px rgba(243, 243, 243, 0.1);
}

image{
    filter: drop-shadow(12, 4, 8, #575757);    
}

.box p {
    text-align: center;
    margin-top: 8px;
    font-weight: 400;
    font-size: 0.8em;
}

@media all and (max-width: 800px) {
    .test{
        padding: 20px 20px;
        grid-template-columns: 190px auto;    
        grid-template-rows: 110px auto;
        grid-template-areas: "header header" "main main" "sidebar sidebar"; 
        grid-gap: 10px;
        align-items: center;
        justify-items: center;
    }

    .box {
        max-width: 50px;
        max-height: 90px;
        padding: 5px;
    }

    .box p {
        font-size: 0.7em;
    }

    .boxcontainer {
        margin-left: auto;
    }

    aside{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 120px 120px;
        grid-gap: 10px;
        
    }
  


}
