.test{
    background-color: white;
    border-style: double;
    border-width: thick;
    border-color: darkslategrey;
    margin: 0;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 160px auto;
    grid-template-areas: "header header" "main sidebar";
}

header {
    border-top: brown;
    color: black;
    grid-area: header;
    text-align: center;
}

main {
    color: black;
    grid-area: main;
}

aside{
    grid: sidebar;
}

aside p {
    color: black;
    padding-left: 5px;
}