.contact {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0.01%,
    rgba(0, 0, 0, 0.55) 19.89%

  );
  height: 80vh;  
  padding: 30px 20px;
}

.contact input, .contact textarea{
  padding-left: 6px;
  padding-top: 3px;
  margin: 3px 0px;
  color: black;
  font-size: .8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact button {
  padding: 3px 4px;  
  font-size: .9em;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3) ;
}

label {
  display: block;
  margin-bottom: 0.2em;
}

