@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Dawning+of+a+New+Day&family=Stylish&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Vibes&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Oxanium";
  color: white;
}

html,
body {
  background: black;
}

.masthead {
  /* background-repeat: no-repeat; */
  height: 100vh;
  display: flex;
  /*  opacity: 1 !important; */
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
  background: linear-gradient(180deg,
      rgba(10, 10, 10, 0.) .001%,
      rgba(66, 48, 20, 0.) 0.89%)
}

p {
  margin: 6px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  width: 1200px;
  margin: 5px auto;
  padding-bottom: 1.5rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 40px auto; */
}

nav .links {
  font-size: 1.2em;
  display: inline-block;
  text-align: right;
  margin-top: 15px;
}

nav a {
  color: white;
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: white;
}

nav .navlogo {
  border-bottom: 0px;
  margin-top: 10px;
  margin-left: 0px;
}

footer {
  font-size: 0.8em;
  height: 5vh;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  color: rgba(187, 187, 187, 0.98);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 768px) {
  .masthead {
    /* background-repeat: no-repeat; */
    height: 100vh;
    display: flex;
    /*  opacity: 1 !important; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(180deg,
        rgba(10, 10, 10, 0.18) .001%,
        rgba(66, 48, 20, 0.11) 0.89%)
  }

  footer {
    visibility: hidden;
  }

  nav {
    visibility: hidden;

  }

  nav .navlogo {
    visibility: visible;
    margin: 20px;
  }
}

@media all and (min-width: 2560px) {}