@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Dawning+of+a+New+Day&family=Stylish&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Oxanium";
  color: white;
}

html,
body {
  min-height: 100%;
}

.masthead {
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  opacity: 1 !important;
  background-size: cover;
  background: linear-gradient(
    90.26deg,
    rgba(10, 10, 10, 0.98) .75%,
    rgba(66, 48, 20, 0.51) 99.89%
  )
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 2.5rem;   
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  font-size: 1.2em;
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
}
nav .navlogo {
  border-bottom: 0px;
  font-family: "Dawning of a New Day";
  font-size: 1.2em;
}

footer p {
  /* height: 10vh; */
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #bbb;
}

iframe {
  display: block;
  margin: 40px auto;
}
