@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap&effect=shadow-multiple|3d-float");
@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Dawning+of+a+New+Day&family=Stylish&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Stylish";
  color: white;
}

html,
body {
  min-height: 100%;
}
body {
  background-repeat: no-repeat;
}
.masthead {
  width: 100%;
  min-height: 100vh;
  display: flex;
  opacity: 1 !important;
  background-size: cover;
  background: linear-gradient(
    90.26deg,
    rgba(10, 10, 10, 0.9) 17.75%,
    rgba(66, 48, 20, 0.61) 99.89%
  );
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  font-size: 1.5em;
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
}
nav .navlogo {
  border-bottom: 0px;
  font-family: "Dawning of a New Day";
  font-size: 2em;
}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

iframe {
  display: block;
  margin: 40px auto;
}
