.header {
  height: 80vh;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  /* background: linear-gradient(
    180.26deg,
    rgba(255, 255, 255, 0.08) .01%,
    rgba(8, 5, 2, 0.71) 990.89%
  );    */
}
.header h2 {
  font-family: "Dawning of a New Day";
  font-size: 6em;
  //animation:
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 2000ms,
    glow 4000ms linear infinite 2000ms;

  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
}

.header h3 {
  font-family: "Oxanium";
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 20px;
  text-shadow: 7px 7px 10px rgb(0, 0, 0), 10px 1px 10px rgb(0, 0, 0);
}

.header p {  
  text-shadow: 2px 7px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
}

.right {
 padding: 50px;
}

.left {
}


.btn {
  font-weight: 400;
  font-size: 1.4em;
  position: relative;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
  height: 60px;
  line-height: 60px;
  align-content: center;
  text-align: center;
  transition: 0.9s;
  padding: 0 20px;
  -webkit-transition: 0.9s;
  background: rgba(0, 0, 0, 0.65);
 /*  border-color: white;
  border-style: solid;
  border-width: thin; */
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    
}

.btn:hover {
  color: #fff;
}

.btn::before,
.btn::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.4s;
}

.btn::before {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform-origin: 0 100%;
}

.btn::after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform-origin: 100% 0%;
}

.btn:hover::after,
.btn:hover::before {
  -webkit-transform: scale(1);
}

@media all and (max-width: 768px) {
  .header {
    height: 100%;
    display: grid;
    justify-content: center;
    width: 100%;
    grid-gap: 120px;
    align-items: center;
    align-content: center;
    text-align: center;

    /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(1, 1fr);
    /* this is the same as grid-template-rows: 300px 300px; */
    grid-template-rows: repeat(2, 200px);
    padding-bottom: 0rem;
  }

  .right {
    justify-content: center;
  }

  .left{
    display: grid;
    justify-content: center;
  }

  .btn{
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    width: 200px;
  }
}
