.header {
  height: 60vh;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 180px;
  align-items: center;
  justify-content: center;

}
.header h2 {
  font-family: "Dawning of a New Day";
  font-size: 5em;
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 3000ms linear infinite 2000ms;

  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
}

.header h3 {
  font-family: "Oxanium";
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 20px;
}
.left {
  padding: auto;
}
.right {
  margin-top: 1px;
}
// .btn {
//   display: inline-block;
//   border-color: #fff;
//   border: 2px solid white;
//   padding: 10px 16px;
//   border-radius: 10px;
//   margin-top: 20px;
//   font-weight: 500;
// }

//button animation hover
.btn {
  position: relative;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  -webkit-transition: 0.5s;
}

.btn:hover {
  border: 2px solid rgba(255, 255, 255, 0);
  color: #fff;
}

.btn::before,
.btn::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.btn::before {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform-origin: 0 100%;
}

.btn::after {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform-origin: 100% 0%;
}

.btn:hover::after,
.btn:hover::before {
  -webkit-transform: scale(1);
}

@media all and (max-width: 800px){
  .header {
    display: grid;
    grid-template-columns: 1fr;
    
    grid-gap: 50px;
    margin: 80px 20px;
    justify-content: center;
  }  
}