.portfolio {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) .01%,
    rgba(114, 114, 114, 0.15) 0.89%
  );
  height: 80vh;  
  padding: 30px 20px;
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 30px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}

.projects h3 {
  text-align: center;
  margin: 10px auto 0px;
  font-weight: 500;
}
.projects p {
  color: #ccc;
  margin-top: 4px;
}

@media all and (max-width: 800px){
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 80px 20px;
  }  
}
