.details{
    background: linear-gradient(
        180.26deg,
        rgba(255, 255, 255, 0.08) .01%,
        rgba(255, 255, 255, 0.71) 19.89%
      );
    box-shadow: 0px 2px 3px 2px rgba(255, 255, 255, 0.2);
    height: 100%;    
    color: black;
}
.details h2 {
    font-size: 3.5em;
    margin-top: 20px;
    margin-left: 20px;
}

.details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px; 
    margin-left: 20px;
}

.details a {
    color: rgb(65, 7, 7);
}
.details p, .details li, .details  h1,.details h3, .details h4, html {
    color: black;
}

.html {
    margin-top: 40px;
    margin-left: 20px;
}

.featured {
    margin-bottom: 40px;
}

.detailsmasthead {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    background-size: cover;
    background: linear-gradient(
      180deg,
      rgba(10, 10, 10, 0.18) .001%,
      rgba(66, 48, 20, 0.11) 0.89%
    )
}