.portfolio {
  /* background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) .01%,
    rgba(0, 0, 0, 0.15) 90.89%
  ); */
  height: 30vh;  
  padding: 0px 20px;
  text-align: center;
  text-shadow: 2px 1px 5px rgb(0, 0, 0), 10px 1px 10px rgb(0, 0, 0);

}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 30px;
}
.portfolio > h3 {
  margin-top: 15px;
  font-size: 2em;
  font-weight: 400;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 50px 20px;
  justify-content: center;
}

.projects a {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 8px rgba(88, 88, 88, 0.15);
}

.projects a:hover {
  box-shadow: 0px 0px 20px 8px rgba(255, 253, 253, 0.2);
}

.projects h3 {
  text-align: center;
  margin: 15px auto 0px;
}

.projects p {
  color: rgb(255, 255, 255);
  margin-top: 4px;
}

.gitimage {
  display: inline-block;
  width: 60px;
  filter: invert();
  margin: 0px auto;
}

.gitlink {
  display: inline-block;
  text-align: center;
  margin: 80px auto;  
}

.gitlink a:hover {
  box-shadow: 0px 0px 20px 8px rgba(255, 253, 253, 0.3);
}


@media all and (max-width: 800px){
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 80px 20px;
  }  
}
