.details{
    background-color: white;
    color: black;
}
.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
}

.details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;    
}

.details p, .details li, .details  h1,.details h2,.details h3, .details h4, html {
    color: black;
}

.html {
    margin-top: 40px;
}

.featured {
    margin-bottom: 40px;
}