.details{
    background-color: white;
    color: black;
}
.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
    margin-left: 20px;
}

.details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px; 
    margin-left: 20px;

}

a {
    color: rgb(65, 7, 7);
}
.details p, .details li, .details  h1,.details h2,.details h3, .details h4, html {
    color: black;
    
}

.html {
    margin-top: 40px;
    margin-left: 20px;

}

.featured {
    margin-bottom: 40px;
}